<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.u_n_v.warhammer2unitlist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HighElves.HighElves"
            android:label="High Elves" />
        <activity
            android:name=".HighElves.HighElvesUnitStats"
            android:label="Unit Stats" />
        <activity android:name=".Tester" />
        <activity
            android:name=".WoodElves.Units.GladeLordM"
            android:label="Glade Lord (M)" />
        <activity
            android:name=".WoodElves.Units.GladeLordF"
            android:label="Glade Lord (F)" />
        <activity
            android:name=".WoodElves.WoodElves"
            android:label="Wood Elves" />
        <activity
            android:name=".WoodElves.Units.AncientTreeman"
            android:label="Ancient Treeman" />
        <activity android:name=".WoodElves.Units.Durthu" />
        <activity android:name=".WoodElves.Units.Waystalker" />
        <activity android:name=".WoodElves.Units.SpellsingerShadows" />
        <activity android:name=".WoodElves.Units.SpellsingerBeasts" />
        <activity android:name=".WoodElves.Units.SpellsingerLife" />
        <activity android:name=".WoodElves.Units.Branchwraith"></activity>
    </application>

</manifest>